*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: white;
}

ul {
    list-style: none;
    display: flex;
    gap:20px;
    justify-content: space-evenly;

}

#cookies {
    display: flex;
    width:200px;
    height:auto;
    z-index: 10;
    border:solid salmon;
    flex:1;
}

nav {
    border:red solid;
    color:red;


}

.exist {
    position: relative;
    left:220px;
    z-index: 1;
}
.panel { 
    transform: translate(130%);
    transition-property: transform;
    transition-duration: 1s;
    background-color: white;
}



.priority {
    position:relative;
    z-index: 2;
}

.top {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    position: relative;
}

.top video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.top h1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
    text-align:center;
    color:#000;
    line-height:100vh;
    mix-blend-mode: screen;
    font-size: 20rem;
}

.first {
    display: flex;
}

.green {
background-color: white;
display: flex;
border:purple solid;
justify-content: flex-end;
}
.green img {

    border: solid;
    width:650px;
}

.thyme {
    display: flex;
    justify-content: flex-start;
}

.thyme img {
    width:200px;
}